<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scale=no"
    />
    11333
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.esm.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script> -->
    <!-- 将资源挂在到cdn 服务器上 -->
    <!-- https://www.bootcdn.cn/ -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script> -->
    <title>Document</title>
    <script>
      // https://www.cnblogs.com/zhangnan35/p/12682925.html
      (function() {
        // var deviceWidth = document.documentElement.clientWidth;
        // deviceWidth =
        //   deviceWidth < 320 ? 320 : deviceWidth > 640 ? 640 : deviceWidth;
        // document.documentElement.style.fontSize = deviceWidth / 7.5 + "px";
        // ---
        // const deviceWidth =
        //   document.documentElement.clientWidth || document.body.clientWidth;
        // document.querySelector("html").style.fontSize =
        //   deviceWidth / 7.5 + "px";
      })();
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
